@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.topnav {
  background-color: #7ea5cb;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
  font-family: 'DynaPuff', cursive;
}

.topnav a:hover {
  color: #a3c6e9;
}

.topnav a.active {
  background-color: #d6005a;
}

.topnav .icon {
  display: none;
}

.content {
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
  font-size: 22px;
  font-family: 'Sour Gummy', cursive;
}

@media screen and (max-width: 800px) {
  .topnav a:not(.active) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  img {
    max-width: 50%;
  }

  #references h2, #references p, #references a{
    font-size: 75%;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .column {
    width: 100%;
    display: block;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dbe9f6
}

.fa-check {
  color: #7ea5cb;
}

.fa-remove {
  color: #d6005a;
}

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 #7ea5cb;
  margin-top: 20%;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #d6005a;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #b6004e;
}

.container h2 {
  font-family: 'DynaPuff', cursive;
}

.container a {
  font-family: 'DynaPuff', cursive;
  font-size: 22px;
}

.container a:visited {
  font-family: 'DynaPuff', cursive;
  font-size: 22px;
  color: #a3c6e9;
}

video {
  display: block;
  margin: auto;
  width: 60%;
  margin-top: 100px;
}

#vidBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 150px;
  border: none;
  background: #7ea5cb;
  color: white;
  cursor: pointer;
}

#vidBtn:hover {
  background: #b6004e;
  color: white;
}

.card h2 {
  font-family: 'DynaPuff', cursive;
}

.vidContent {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 22px;
  font-family: 'Sour Gummy', cursive;
  display: block;
  margin: auto;
  width: 60%;
}

.vidContent h1 {
  font-family: 'DynaPuff', cursive;
}

.right-img {
  float: right;
}

img {
  max-width: 75%;
}